{% extends 'base.html' %}
{% block content %}

    <div class="container">
      <div class="contact-box">
        <div class="left"></div>
        <div class="right">
          <h2>Contact Us</h2>
          <input type="text" class="field" placeholder="Username">
          <input type="text" class="field" placeholder="Email">
          <input type="text" class="field" placeholder="Subject">
          <textarea placeholder="Message" class="field"></textarea>
          <button class="btn">Send</button>
        </div>
      </div>
    </div>


{% endblock%}

